<div class="container mt-3">

  <h4 class="text-center mb-5">
    This project has been created to show my way of work in Angular2+ framework.
    <br>
    It contains two modules accessible below.
  </h4>

  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary" routerLink="users">Users</button>
      <h3>Simple user management module</h3>
    </div>
    <div class="col text-center">
      <button class="btn btn-primary" routerLink="to-do-app">To Do App</button>
      <h3>To Do App based on NgRX</h3>
    </div>
  </div>
</div>



